<div *ngIf="showTickers" class="index-ticker flex items-center gap-3 text-sm whitespace-nowrap">
  <ng-container *ngFor="let q of quotes">
    <div class="ticker-item flex flex-col items-start">
      <!-- Symbol -->
      <div class="ticker-symbol flex items-center gap-2 font-normal">
        <span class="symbol text-gray-700 uppercase ">
          {{ q.symbol }}
        </span>
        <span class="price " [ngClass]="color(q.change)">
          {{ q.lastTradedPrice | number : '1.2-2' }}
        </span>
      </div>
      <span [class.text-green-600]="q.change > 0" [class.text-red-600]="q.change < 0" class="font-normal text-gray-600">
        {{ q.change | number : '1.2-2' }}
        <span [class.bg-green-50]="q.percentChange > 0" [class.bg-red-50]="q.percentChange < 0" class="text-sm rounded-md px-1 py-[1px]">
          {{ q.percentChange/100 | percent:'1.2-2' }}
        </span>
        </span>
      </div>
  </ng-container>
</div>
